/* Menu */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: .8rem 0;
}
.menu__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
}
.menu__logo-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.menu__logo-img{
    height: 3rem;
}
.menu__search-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #f3efef;
    padding: .5rem .8rem;
    border-radius: 2rem;
    margin-left: 2rem;
}
.menu__search-input{
    width: 350px;
    color: #A2A2A2;
    background-color: transparent;
    outline: none;
    border: none;
}
.menu__search-icon{
    cursor: pointer;
}
.menu__cart-login-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
}
.menu__button{
    padding: .6rem 5rem;
    background-color: transparent;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    outline: none;
    transition: .2s;
    font-size: .9rem;
}
.menu__button:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}
.menu__button-admin{
    padding: .6rem 1rem;
    background-color: transparent;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    outline: none;
    transition: .2s;
    font-size: .9rem;
}
.menu__button-admin:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}

/* Hero */
.hero__banner{
    background-image: url('../../assets/hero-background.png');
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.hero__title-box{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 10rem;
    color: var(--color-white);
}
.hero_title{
    font-size: 2.5rem;
    margin-bottom: .6rem;
}
.hero_subtitle{
    font-size: 1.2rem;
    margin: .1rem;
}
.hero__action-button{
    padding: .8rem .5rem;
    font-weight: lighter;
    margin-top: .5rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    outline: none;
    width: 8rem;
    text-align: center;
}
.hero__action-button:hover{
    background-color: var(--color-dark-blue);
    cursor: pointer;
}