*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--color-white);
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}